# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.bak
*.swp

# Other
*.png
*.jpg
*.jpeg
*.gif
